.navStyle {
    background: var(--primary-color);
    font-size: 2.4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--light-varient);
    position: fixed;
}

.iconSize {
    font-size: 1.8rem;
}

.navText {
    font-size: 1.8rem;
}

.navItem {
    margin: .5rem;
    padding: .65rem;
}



