
:root {
  --primary-color: #3A5A40;
  --secondary-color: #588157;
  --light-varient: #A3B18A;
  --light-color: #DAD7CD;

  background: var(--light-color);
}

.titleDiv {
  display: flex;
  justify-content: center;
  padding-top: 0;
  margin-top: 0;
}