.trail-container {
    width: calc(100% - 4rem);
    margin-left: 4rem;
}

.card-container {
    background: var(--secondary-color);
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    /* grid-template-columns: 20% 15% 20%; */
    grid-gap: 60px;
    padding-bottom: 5rem;
    padding-top: 3rem;
}

.trail-card {
    background: var(--light-color);
    padding: 1.2rem 1rem;
    height: 100%;

}

.trail-card img {
    width: 100%;
    height: auto;
}

.trl-btns {
    display: flex;
    color: var(--secondary-color);
    padding: 0.5rem 0;
}

.btn {
    background: var(--secondary-color);
}

.trail-name {
    padding: 1.1rem 0;
}

