/* css */

body {
    background: transparent;
    background-color: var(--light-varient);
} 

.titleImg { 
    width: 16rem;
    height: auto;
}

.titleDiv {
    width: calc(100% - 4rem);
    margin-left: 4rem;
    display: flex;
    justify-content: center;
    padding-top: 0;
    margin-top: 0;
}
