/* css */

body {
    background: transparent;
    background-color: var(--secondary-color);
}

/* .titleImg {
    justify-content: center;
} */

.titleDiv {
    display: flex;
    align-items: center;
}
