/* css */

body {
    background: transparent;
    background-color: var(--light-varient);
} 

.titleImg { 
    width: 16rem;
    height: auto;
}

.titleDiv {
    display: flex;
    justify-content: center;
    padding-top: 0;
    margin-top: 0;
}
